
  




<!--
<img src="https://hebrew.jerusalemtowerhotel.com//octopus/Upload/images/Categories/tower-main-img-1.jpg "/>
   <div class="id2">
<p>
  welcome to Jerusalem
</p>
<h2>All information in one place</h2>
</div> -->



  
    <div id="id1" ></div>
<!-- <ul >
  <li><a  routerLink = "app-sites">אתרים</a></li>
  <li><a routerLink = "app-attractions">אטרקציות</a></li>
  <li><a href="#contact">ארועים</a></li>
  <li><a routerLink="app-restaurant">מסעדות</a></li>
  <li><a routerLink="app-hotels">מלונות</a></li>
  <li><a href="#about">סיורים</a></li>
  <li><a routerLink="app-google-maps">מפה</a></li>
  
  
</ul> -->



